body{
    background-image: url(int.jpg);
    background-repeat: no-repeat;
    font-weight: bold;
    color: greenyellow;
}
h1{
    color: cornflowerblue;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, lightblue,gold);
border-style: solid;
}
#form{
    color: aqua;
}